@tailwind base;
@tailwind components;
@tailwind utilities;

.form-style {
	background: rgba( 17, 24, 41, 0.35 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 2px );
	-webkit-backdrop-filter: blur( 2px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}